*{
    margin: 0;
    padding: 0;
}
#head{
    height: 28px;
    background: #f2f2f2;
    border-bottom: 1px solid #dadada;
}

.container{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    font-size: 10px;
    color: #999999;
}

#left{
    float: left;

}

.container a{
    text-decoration: none;
    color: #999999;
    line-height: 28px;
}

#left a{
    margin-left: 19px;
}
.container a:hover{
    color: red;
}
ul{
    list-style: none;
}

#right{
    float:right;
    position: relative;
}

.triangle{
    position: absolute;
    top: 13px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}

.line{
    height: 13px;
    width: 2px;
    border-left: 1px solid #cccccc;
    position: absolute;
    top: 8px;
    margin-left: 6px;
    left: 223px;
}

.dao{
    /*width: 45px;*/
    height: 28px;
    margin-right: -2px;
    padding: 6.5px 5px;
}

#right a{
    margin: 0 6px;
}

.dao a{
    margin-left: 4px!important;
}

img{
    position: relative;
    top: 2px;
}
.dao:hover{
    background: #fff;
}

.my{
    display: none;
    position:absolute;
    border: 1px solid #f2f2f2;
    border-top: white;
    padding: 5px;

}
.my a{
    color: #666666;
    line-height:20px;
}

.my > li:hover{
    color: red;
    text-decoration: underline;
}

.dao:hover > .my{
    display: block;
}

.my{
    left: -1px;
}
.collect{
    left: 163px;
}

.shop{
    left:294px;
    /*padding:5px;*/
    width: 120px;
    color: #666666;
}
.shop h5{
    margin-left: 4px;
}
.shop a:hover{
    text-decoration: underline;
}
.dashed{
    height: 7px;
    width: 110px;
    border-top: 1px dashed #cccccc;
    margin: 0 auto;
    margin-top:7px;
}

.nav{
    width: 1230px;
    margin: 0 auto;
    height: 157px;
    position: absolute;
    left: -730px;
}
