@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff2') format('woff2'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';  /* project id 1052158 */
    src: url('//at.alicdn.com/t/font_1052158_5z69qpulf03.eot');
    src: url('//at.alicdn.com/t/font_1052158_5z69qpulf03.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1052158_5z69qpulf03.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1052158_5z69qpulf03.woff') format('woff'),
    url('//at.alicdn.com/t/font_1052158_5z69qpulf03.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1052158_5z69qpulf03.svg#iconfont') format('svg');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font:12px/1.5 tahoma,arial,"\5b8b\4f53"
}
#head{
    height: 28px;
    background: #f2f2f2;
    border-bottom: 1px solid #dadada;
}

.container{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    font-size: 10px;
    color: #999999;
}

#left{
    float: left;

}

.container a{
    text-decoration: none;
    color: #999999;
    line-height: 28px;
}

#left a{
    margin-left: 19px;
}
.container a:hover{
    color: red;
}
ul{
    list-style: none;
}

#right{
    float:right;
    position: relative;
}

.triangle{
    position: absolute;
    top: 13px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}


.dao:hover .triangle{
    transform: rotate(180deg);
    transform-origin: 3px 1.5px;
    transition: transform .4s ease;
}

.line{
    height: 13px;
    width: 2px;
    border-left: 1px solid #cccccc;
    position: absolute;
    top: 8px;
    margin-left: 6px;
    left: 223px;
}

.dao{
    /*width: 45px;*/
    height: 28px;
    margin-right: -2px;
    padding: 6.5px 5px;
}

#right a{
    margin: 0 6px;
}

.dao a{
    margin-left: 4px!important;
}

img{
    position: relative;
    top: 2px;
}
.dao:hover{
    background: #fff;
}

.my{
    display: none;
    position:absolute;
    border: 1px solid #f2f2f2;
    border-top: white;
    padding: 5px;
    z-index:10;
    background: #fff;

}
.my a{
    color: #666666;
    line-height:20px;
}

.my > li:hover{
    color: red;
    text-decoration: underline;
}

.dao:hover > .my{
    display: block;
}

.my{
    left: -1px;
}

.collect{
    left: 163px;
}
.pho:hover{
    background:transparent;
}
.phone{
    padding: 15px;
    border: 1px;
    box-shadow: 0 -1px 2px 2px #ccc;
    position: absolute;
    top: 25px;
    left: 186px;
    background: #fff;
}
.phone .triangle{
    transform: rotate(180deg);
    border-width: 10px;
    position: absolute;
    top: 0px;
    left: 95px;
    border-color: #fff transparent transparent transparent;
}
.shop{
    left:301px;
    /*padding:5px;*/
    width: 120px;
    color: #666666;
}
.shop h5{
    margin-left: 4px;
}
.shop a:hover{
    text-decoration: underline;
}
.dashed{
    height: 7px;
    width: 110px;
    border-top: 1px dashed #cccccc;
    margin: 0 auto;
    margin-top:7px;
}

.nav{
    width: 1222px;
    margin: 0 auto;
    height: 157px;
    position: absolute;
    left: -715px;
    z-index: 100;
}
/*head结束*/


/*side开始*/
#side {
    width: 35px;
    background: #000;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo{
    height: 35px;
    width: 35px;
    padding-left:6px;
    position: absolute;
    top: 215px;
}
.logo:hover{
    background: red;
}
#side img {
    height: 14px;
    width: 24px;
    position: relative;
    top: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}

#side .vip {
    width: 90px;
    height: 30px;
    background: #999999;
    color: #fff;
    position: absolute;
    top: 215px;
    left: -150px;
    text-align: center;
    line-height: 30px;
    -webkit-transition: opacity .3s ease,left .3s ease;/*苹果*/
    -moz-transition: opacity .3s ease,left .3s ease;/*火狐*/
    -ms-transition: opacity .3s ease,left .3s ease;/*ie8以后的*/
    -o-transition: opacity .3s ease,left .3s ease;/*欧鹏*/
    transition: opacity .3s ease,left .3s ease;
    opacity: 0;
    visibility: hidden;
    /*引起闪现问题*/
}

#side .content:hover .vip {
    left: -90px;
    opacity: 1;
    visibility: visible;
}

#side .arrow {
    width: 10px;
    height: 10px;
    background: #999999;
    position: absolute;
    right: -5px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.money{
    top: 300px;
}

/* side 结束 */



/**/
#all{
    width: 1230px;
    margin: 0 auto;
}

/*search开始*/
.search{
    position: relative;
    height: 130px;
}
.search img{
    margin-left:-45px;
    float: left;
    display: inline-block;
}
#search {
    position: relative;
    top: 40px;
    left: 60px;
}
#search input{
    border: 2px solid #FF0036;
    height: 26px;
    width: 490px;
    outline:none;
    padding: 5px;
    font-size: 15px;
}
#search input:focus::-webkit-input-placeholder {color:#ccc;}

#search button{
    height: 40px;
    width: 130px;
    background: #ff0036;
    border: 2px solid #FF0036;
    color: white;
    font-size: 18px;
    font-weight:700;
    cursor: pointer;
    position: relative;
    top: 2px;
    left: -5px;
    letter-spacing: 5px;
}
.sth{
    position: relative;
    top: 44px;
    left:50px;
}
.sth li{
    display: inline;
    padding: 0 10px;
    border-right: 1px solid #999999;

}
.sth a{
    text-decoration: none;
    font-size: 14px;
}

/*search结束*/

/*inner开始*/
.inner{
    margin-top: 3px;
    height: 36px;
    line-height: 36px;
    width: 1230px;
    position: relative;
    bottom: 0;
}
.inner-left{
    width: 187px;
    height: 36px;
    color: #fff;
    background: #ff0036;
    font-size: 16px;
    font-weight: 700;
    float: left;
    padding-left: 13px;
}
.white{
    font-family: "iconfont" !important;
    color: white;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 8px;
}
.inner-right img{
    width: 100px;
    display: inline-block;

}
.inner-right a{
    height: 35px;
    text-decoration: none;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    float: left;
    color: #333;
}
.inner-right a:hover{
    color:#FF0036;
}
/*inner结束*/

/*banner开始*/
#banner{
    height: 500px;
    background: #fd5957;
    position: relative;
    display: block;
    z-index: -1;
    border-top: 2px solid #FF0036;
}
#side-menu{
    position: absolute;
    left: 337px;
    float: left;
    width: 200px;
    background: rgba(0, 0, 0, 0.72);
}
#side-menu a{
    color:#fff;
    text-decoration: none;
    font-size: 14px;


}
#side-menu li{
    height: 31.2px;
    line-height: 31.2px;
    padding-left: 12px;
}

#side-menu li:hover{
    background: #fff;
}

#side-menu li:hover .pink{
    color: #e54077!important;
}
#side-menu li:hover .blue{
    color: #427def;
}
#side-menu li:hover .purple{
    color: #6347ed;
}
#side-menu li:hover .lightred{
    color: #fa5c5c;
}
#side-menu li:hover .red{
    color: #dd2727;
}
#side-menu li:hover .yellow{
    color: #f7a831;
}
#side-menu li:hover .green{
    color: #3bc7b0;
}

#side-menu li:hover a{
    font-weight: bold;
 }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#banner #wrapper {
    height: 500px;
    background: url(img/banner01.webp) no-repeat;
    background-position:center center;
    margin: 0 auto;
}

#banner .banner-nav {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#banner .banner-nav li {
    width: 25px;
    height: 5px;
    background: rgba(0, 0, 0, 0.31);
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

#banner .banner-nav .selected {
    background: #fff;
}
/*banner结束*/

















